<!doctype html>
<html  lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ cookiecutter.app_name }}</title>

  <link rel="icon" href="{{ '{{ url_for(\'static\', filename=\'favicon.ico\') }}' }}"/>
  <link rel="apple-touch-icon" href="{{ '{{ url_for(\'static\', filename=\'logo192.png\') }}' }}"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <meta name="theme-color" content="#000000" />
  <meta name="description" content="{{ cookiecutter.app_description }}"/>  
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% if cookiecutter.app_frontend == "angular" -%}
  <base href="/" />
  {%- endif %}

  {% if cookiecutter.app_frontend == "vue" -%}
  <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  {%- endif %}
  
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  {% if cookiecutter.app_frontend == "react" -%}
  <div id="root"></div>
  {% elif cookiecutter.app_frontend == "angular" -%}
  <app-root></app-root>
  {% elif cookiecutter.app_frontend == "vue" -%}
  <div id="app"></div>
  {%- endif %}
  
</body>

</html>